.table-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 98%;
  margin: 40px auto;
  min-height: 200px;
}

.no-results-message {
  text-align: center;
  color: #999;
  font-size: 18px;
  margin-top: 20px;
  min-height: 400px;
}

.table-header,
.table-row {
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.table-header {
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.table-row:last-child {
  border-bottom: none;
}

.table-row div,
.table-header div {
  flex: 1;
  text-align: left;
  padding: 0 5px;
}

.table-row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

td {
 
  padding: 10px;
 
  text-align: left;
 
  border-bottom: 1px solid #ddd;

}

th {
  background-color: #4e2e79;

  color: white;

  text-align: left;
 
  padding: 10px;

  font-size: 16px;

  border-bottom: 2px solid #ddd;

}

table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

table tr:hover {
  background-color: #f1f1f1; 
}